// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #8888885e;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;
$text: #464646;
$text-dark: #81939d;
$text-f4: #f4f4f4;
$text-db: #8d8d8d;
$text-e7: #e7e7e7;

// Color Shades (Theme Based - Xclusive)
$theme-primary: #359aea;
$theme-secondary: #578bb8;

$theme-blue-two: #305581;
