// ######################################## //
// ## PARAGRAPH.SCSS ## //
// ######################################## //

.para-section {
  max-width: 80%;
  margin: 2.5rem auto;
  .para {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: $gray-9;
    line-height: 1.2;
    @include mobile {
      font-size: 22px;
    }
  }
}
